<div class="container col-md-7">

    {{!-- {{#each article}}

    <div class="card col-7 mx-auto mt-4">
        <div class="card-body">
            <h5 class="card-title"><a target="blank" href="{{link}}">{{title}}</a></h5>

            <p class="card-text">{{summary}}</p>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Add a comment:</label>
            <textarea class="form-control" id="bodyinput" name="body" rows="2"></textarea>
            <button type="button" class="btn btn-secondary float-right mt-1" id="postcomment" data-id="{{_id}}">Post comment</button>
        </div>
        <div class="card-footer">
            <p class="card-text">Comments:</p>
            {{# each comment}}
            <p class="card-text">{{post}}</p>
            {{/each}}
        </div>
        </div>
    </div>
    {{/each}} --}}

<div class="container-fluid article-container"></div>


</div>
</div>



<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" integrity="sha256-4F7e4JsAJyLUdpP7Q8Sah866jCOhv72zU5E8lIRER4w=" crossorigin="anonymous"></script>


<script src="/assets/javascript/commented.js"></script>